<div class="container mt-5">
  <div class="col-md-6 offset-md-3">
    <h3>Panel de Administrador</h3>
  <a href="/admin/createFish">
    <button class="btn btn-dark">Crear nuevo pez en la base de datos</button>
  </a>
  <form action="/admin/deleteFish" method="post">
  <div class="mb-3">
    <label class="form-label" for="pezEliminado">Eliminar pez de la base de datos:</label>
    <select class="form-control" id="pezEliminado" name="pezEliminado">
      {{#each fishName}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
    
    <button class="btn btn-dark">Eliminar</button>
  </form>
  <form action="/admin/editFish" method="post">
  <div class="mb-3">
    <label class="form-label" for="pezEditado">Editar pez de la base de datos:</label>
    <select class="form-control" id="pezEditado" name="pezEditado">
      {{#each fishName}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
    
    <button class="btn btn-dark" id="editButton" type="button">Editar</button>
  </form>
  </div>
  
  
</div>

<script>

  const editarButton = document.getElementById('editButton');
  editarButton.addEventListener('click', () => { const selectedFishId =
  document.getElementById('pezEditado').value; const editUrl =
  `/admin/editFish/${selectedFishId}`; window.location.href = editUrl; });

</script>