<div>  

      <h1>Actualiza tu pecera</h1>
    {{#with bowlParams}}
  <form action="/bowl/{{_id}}/edit" method="post">

    <label for="name">Nombre</label>
    <input type="text" name="name" value="{{name}}"/>
    <br />
    <label for="capacity">Capacidad (Litros)</label>
    <input type="number" name="capacity" min="1" value="{{capacity}}"/>
    <br />
    <label for="water">Tipo de agua</label>
    <select id="waterId" name="water">
      <option value="tropical">Tropical</option>
      <option value="salada">Salada</option>
      <option value="fria">Fria</option>
    </select>

    <br />
    <label for="isClosed">Tiene tapa:</label>
    <select id="is-closed" name="isClosed">
      <option value="Si">Si</option>
      <option value="No">No</option>
    </select>
    {{/with}}
    <br />
    <button>Actualizar</button>
  </form>
</div>

</div>