<div>
    <h3>Panel de Administrador</h3>
    <button>Eliminar cuenta</button>
    <button>Eliminar todas las cuentas</button>
    <button>Editar cuenta</button>
    <button>Crear nuevo pez en la base de datos</button>
    <button>Eliminar pez de la base de datos</button>
    <button>Editar pez de la base de datos</button>
</div>