<div>

    <h3>Formulario añadir pez</h3>

    <form action="/myfish/create" method="post">

    <label for="name">Nombre</label>
    <input type="text" name="name" />
    <br />
    <label for="age">Edad</label>
    <input type="number" name="age" min="0" />
    <br />
    <label for="fish">Clase de pez</label>
        <select id="tipo-pez" name="fish">
            {{#each allFish}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
    <br />
    <button>Crear pez</button>
  </form>

</div>