<div>

    <h1>Catálogo de peces</h1>

    {{#each this.fishParams}}
    <div>
        <a href="/search/{{this._id}}/details">
            <img src="{{this.url}}" alt="imagen-pez" width="200px">
        </a>
     
    <h3>{{name}}<h3>
    </div>
    {{/each}}
</div>