<div>
  <h1>Página web principal</h1>

  <form action="/search/results" method="post">
    <input type="text" name="name" placeholder="...Busca un pez aqui">
    <button type="submit" value="search">Buscar</button>

    {{#if errorMessage}}
        <p style="color: crimson;">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>