<div>

  <h1>Resultados de tu búsqueda</h1>

  {{#each fishList}}
    <h3>{{this.name}}</h3>
    <img src="{{this.url}}" alt="foto-pez" width="250" />
    <p>Tipo de agua: {{this.type}}</p>
    <p>Agresividad: {{this.aggr}}</p>
  {{/each}}

</div>